p{
    background-color: rgb(188, 212, 194);
    text-align: justify;
    font-size: 24px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    border: 1px solid rgb(159, 145, 67);
    background-image: url(../image/food.webp);
    /* background-image: url(../wallpaper.jpeg); */
    background-repeat: no-repeat;
    background-size: 100px;
}
li{
    border: 10px solid salmon;
    border-radius: 5px;
    border-width: 20px;
    box-shadow: 10px 10px 10px rgb(143, 110, 106);
}
/* *{
    margin: 0px;
} */