div{
    background-color: tomato;
    padding: 20px;
    border: 2px solid red;
    border-radius: 5px;
}
.image{
    /* display:block; */
    background-color: blueviolet;
}
#image{
    display: block;
}